ACCESS_TOKEN=
USER_TOKEN=
APP_TOKEN=
APP_ID=
APP_SECRET=
PAGE_ID=
MEDICAL_PAGE_ID=
DUCK_ACCESS_TOKEN=
MEDICAL_ACCESS_TOKEN=
PASSWORD_DB=
NAME_DB=video
USER_DB=
ADDRESS_DB=localhost hoac db neu chay docker
SECRET_KEY=
TOKEN_TELEGRAM_BOT=
APP_NAME=ADS_BM
EMAIL=chungtrinh2k2@gmail.com
ADDRESS=147 Thái Phiên, Phường 9, Quận 11, TP.HCM, Việt Nam
PHONE_NUMBER=07084773586
DNS_WEB=noirsteed.bmapp.com
COMPANY_NAME=CÔNG TY TNHH NOIR STEED
TAX_NUMBER=0318728792