<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
				<link rel="icon" type="image/svg+xml"
					href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><rect width='100' height='100' fill='%234267B2'/><text x='50%' y='70%' font-size='70' fill='white' text-anchor='middle' font-family='Arial'>{{ app_name[0]|upper }}</text></svg>">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
		<title>Download Video from URL</title>
	</head>
	<body>
		{% include 'header.html' %}
		{% include 'message.html' %}
		<div class="container mt-5">
			<h1 class="text-center mb-4">Download Video from URL</h1>

			<!-- Form to download from generic video URL -->
			<div class="d-flex flex-column align-items-center">
				<form action="/download-url" method="post" class="w-75 w-sm-100">
					{{ form.csrf_token }} <!-- CSRF token -->
					<div class="mb-3">
						<label for="video_url" class="form-label">Video URL:</label>
						<input type="text" name="video_url" id="video_url" class="form-control" placeholder="Enter video URL"
							required>
					</div>
					<button type="submit" class="btn btn-primary w-100">Download</button>
				</form>
			</div>

			<!-- Section to download from Facebook URL -->
			<div class="text-center mt-5">
				<h2 class="text-primary">Download Video from Facebook</h2>
				<form action="/download-facebook-url" method="post" class="w-75 w-sm-100 mx-auto">
					{{ form.csrf_token }} <!-- CSRF token -->
					<div class="mb-3">
						<label for="facebook_video_url" class="form-label">Facebook Video URL:</label>
						<input type="text" name="video_url" id="facebook_video_url" class="form-control"
							placeholder="Enter Facebook video URL" required>
					</div>
					<button type="submit" class="btn btn-primary w-100">Download</button>
				</form>
			</div>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
	</body>
</html>